.layout{
  width: 100vw;
  height: 100vh;
  .demo-logo-vertical{
    height: 32px;
    margin: 16px;
    background: #ccc;
    border-radius: 3px;
    h1{
      text-align: center;
    }
  }
}
.menu{
  display: inline-flex;
  background-color: #041527;
  float: inline-end;
 .ant-menu-item {
    color: #fff;
  }
  .ant-menu-submenu-title{
    color: #fff;
  }
}